.App {
  text-align: center;
  background-color: blue;
}

body {
  background-color: blue;
}

.mission-card-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.planets-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.mission-card {
  border: 1px solid black;
  width: 25%
}

.planets {
  width: 35%
}

.Title {
  text-align: center
}
